<section class="bg-main-light p-3 shadow w-50 mx-auto my-3 forgetpassword">
 <form [formGroup]="formForget"  (ngSubmit)="forgetpasseword()">
    <label for="emai">email:</label>
    <input type="email"  formControlName="email" class="form-control" id="email">
    <p class="text-main" >{{msgsuccess}}</p>
    <button class="btn-main mt-3"> send code</button>
</form> 
</section>
<section class="bg-main-light p-3 shadow w-50 mx-auto my-3 verfiycode d-none ">
 <form [formGroup]="formverfiy" (ngSubmit)="verfycode()">
    <label for="code">code</label>
    <input type="text"  formControlName="resetCode" class="form-control" id="code">
    <p class="text-main" >{{msgcode}}</p>
    <button class="btn-main mt-3"> verfiy</button>
</form> 
</section>