<section class="bg-main-light p-3 my-3 shadow w-75 mx-auto">
    <h2 class="text-main">check out session</h2>
    <form [formGroup]="paymentForm" (ngSubmit)="handelform()">
     
       <div class="mb-2">
        <label for="details">details:</label>
        <input type="text" class="form-control" id="details" formControlName="details">
       </div>
       <div class="mb-2">
        <label for="phone">phone:</label>
        <input type="tel" class="form-control" id="phone" formControlName="phone">
       </div>
       <div class="mb-2">
        <label for="city">city:</label>
        <input type="text" class="form-control" id="city" formControlName="city">
       </div>
<button class="btn-main" (click)="handelform()" >check out</button>

    </form>
</section>